.App {
  // text-align: center;
  background-color: #191B21;
  padding-bottom: 20px;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App__body {
  margin: 0 5%;
  padding: 2%;
  // display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(8px + 2vmin);
  font-weight: 600;
  color: white;
}
